body {
  font-family: arial, sans-serif;
}
header {
  width: 100%;
  background-color: #5c5353;
  padding: 15px;
  margin: -8px;
  border-bottom-width: 20px;
  border-bottom-style: groove;
  border-bottom-color: #ddecf5;
}
h1 {
  color: #ddecf5;
}
.svg-diagram {
  width: 1300px;
  margin: auto;
}
.k8s-worker-group > svg{
  width: 400px;
  height: 800px;
}
.k8s-master > svg{
  width: 1500px;
  height: 300px;
}
form {
  margin: 50px auto;
  width: 1300px;
}
#red-master {
  fill: #f5acac;
  stroke: #5c5353;
}
#green-worker {
  fill: #87b487;
  stroke: #5c5353;
}
#purple-worker {
  fill: #b6a4b6;
  stroke: #5c5353;
}
#orange-worker {
  fill: #FF9674;
  stroke: #5c5353;
}

@-webkit-keyframes flash-dead {
  0%, 49% {
    fill: #909AA0;
  }
  50%, 100% {
    fill: #FF4C4A;
  }
}
