body {
  font-family: arial, sans-serif;
}
header {
  width: 100%;
  /*background-color: #5c5353;*/
  padding: 15px;
  margin: -8px;
  border-bottom-width: 20px;
  /*border-bottom-style: groove;*/
  /*border-bottom-color: #ddecf5;*/
}
header > h1{
  color: #5c5353;
  margin: auto;
  width: 1300px;
}
.svg-diagram {
  width: 1300px;
  margin: auto;
}
.k8s-worker-group > svg{
  width: 400px;
  height: 800px;
}
.k8s-master > svg{
  width: 1500px;
  height: 300px;
}

form {
  margin: 50px auto;
  width: 1300px;
}

.pod {
  fill: pink;
  margin: 30px;
}

@-webkit-keyframes flash-dead {
  0%, 49% {
    fill: #909AA0;
  }
  50%, 100% {
    fill: #FF4C4A;
  }
}


.test {
  postion: absolute;
}

rect {
  fill: #5C5353;
}
text {
  font-family: monospace;
  fill: white
}

.pod-name {
  color: white;
  font-size: x-small;
  font-family: monospace;
}

.node-name {
  color: #5C5353;
  font-size: x-large;
  font-family: monospace;
  padding-bottom: 20px;
  font-weight: bold;
}
.k8s-node {
  background-color: gray;
  padding: 20px;
  margin: 50px auto;
  width: 1300px;
  border-style: solid;
  border-width: thin;
}
#red-master {
  background-color: brown;
}
#orange-worker {
  background-color: sandybrown;
}
#green-worker {
  background-color: mediumseagreen;
}
#purple-worker {
  background-color: mediumpurple;
}
